body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

#instructions {
  margin-bottom: 20px;
  color: #666;
}

canvas {
  border: 2px solid #333;
  margin-bottom: 20px;
}

.score {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

button,
.home-button {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
}

#startButton {
  background-color: #4caf50;
}

#startButton:hover {
  background-color: #45a049;
}

#startButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.home-button {
  background-color: #3498db;
}

.home-button:hover {
  background-color: #2980b9;
}
